{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Guestbook - Accueil</title>
    <link rel="stylesheet" href="{% static 'accueil/style.css' %}">
</head>
<body>
    <h1>Guestbook</h1>
    <form method="post" class="formGuestBook">
        {% csrf_token %}
        <div>
            <label for="nom">Ton nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="message">Ton Message :</label>
            <textarea maxlength="1500" type="text" id="message" name="message" required></textarea>
        </div>
       <button type="submit">Envoyer</button>
    </form>

    <h2>Messages des visiteurs :</h2>
    <div class="messages">
        {% for msg in messages %}
            <div class="message">
                    <div class="date">{{ msg.date|date:"d/m/Y H:i" }}</div>
                    <div class="nom">{{ msg.nom }}</div> 
                    
                {{ msg.message }}
            </div>
        {% empty %}
            Aucun message pour le moment.
        {% endfor %}
    </div>

</body>
</html>
