<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Guestbook - Accueil</title>
</head>
<body>
    <h1>Guestbook</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nom">Ton nom :</label>
        <input type="text" id="nom" name="nom" required>
        <label for="message">Ton Message :</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Envoyer</button>
    </form>

    <h2>Messages des visiteurs :</h2>
    <ul>
        {% for msg in messages %}
            <li>
                <strong>{{ msg.nom }}</strong> a écrit le {{ msg.date|date:"d/m/Y H:i" }} :<br>
                {{ msg.message }}
            </li>
        {% empty %}
            <li>Aucun message pour le moment.</li>
        {% endfor %}
    </ul>

</body>
</html>
